<h1>Contact</h1>

<%= turbo_frame_tag "messages" do %>
  <%= form_with do |form| %>
    <%= form.submit 'Go' %>
  <% end %>

  <br />

  Default frame loaded
<% end %>

<br /><br />

<%= link_to 'Home', root_path %>
